body {
  font-family: "QuincyCFExtraBold", serif;
  font-size: 16px;
  background-color: #fefef8;
}

/* Grid Styling */
#content {
  display: grid;
  max-width: 64rem;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(6.25rem, auto);
  grid-gap: 0.625rem;
  text-align: center;
}

#content > * {
  background: #fafafa;
  padding: 1.875rem;
  border-radius: 1.875rem;
}

.carousel-section {
  grid-column: 1 / 13;
  grid-row: 14 / 18;
}

.explore-the-country {
  grid-column: 1 /13;
  grid-row: 18 / 22;
}

footer {
  grid-column: 1 / 13;
  grid-row: 22 / 26;
}

/* Nav Styling */
nav {
  grid-column: 1 / 13;
  background: #fefef8 !important;
}

.nav-bar {
  /* reset */
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.logo {
  grid-column: 1 /3;
}

.logo a {
  text-decoration: none;
  color: #743100;
  font-size: 1.25rem;
}

.nav-links a {
  color: #743100;
  text-decoration: none;
  font-family: "Nunito" sans-serif;
  position: relative;
}

.nav-links a:not(.btn-cta)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #743100;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-links:nth-child(2) {
  grid-column: 9;
}

.btn-cta {
  border-radius: 1.875rem;
  margin: 0;
  border: none;
  padding: 0.9rem;
  background-color: #e2aa60;
  opacity: 0.8;
  transition: 0.3s;
  color: white !important;
}

.btn-cta:hover {
  opacity: 1;
}

/* Header Styling */
header {
  grid-column: 2/12;
  grid-row: 2 / 4;
  background: #fefef8 !important;
  display: inline;
}

header h1 {
  color: #743100;
  font-size: 4.5rem;
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0;
}

header p {
  color: #743100;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Main Styling */
main {
  grid-column: 1 / 13;
  grid-row: 4 / 8;
}

/* First Section Styling */
.official-national-parks {
  grid-column: 1 / 13;
  grid-row: 8 / 9;
}

.section-div {
  width: 100%;
  display: flex;
  height: 95%;
  margin: 0 auto;
  border-radius: 1.875rem;
}

.inner-section-div {
  background-color: #6a775f;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(100%, auto);
  border-radius: 1.875rem;
  box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.inner-section-div h2 {
  color: #fefef8;
  text-align: left;
  padding: 1rem 1rem 0rem 1rem;
  font-size: 2rem;
  grid-row: 1;
}

.inner-section-div p {
  color: #fefef8;
  font-size: 1.35rem;
  text-align: left;
  font-family: "Nunito", sans-serif;
  padding: 0rem 1rem 0rem 1rem;
  grid-row: 2;
}

.inner-section-div button {
  grid-row: 3;
  width: fit-content;
  height: fit-content;
  padding: 1rem 3rem;
  border-radius: 1.875rem;
  background-color: #fefef8;
  border: none;
  cursor: pointer;
  margin: 2rem 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #545700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.inner-section-div button:hover {
  background-color: #464052;
  color: #fff;
  transform: translateY(-7px);
}

.column {
  padding: 1rem;
  grid-column: 3;
}

.column2 {
  grid-column: 4;
}

.column3 {
  grid-column: 5;
}

.column a {
  text-decoration: none;
  color: #262626;
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* still need to fix this a padding situation */
  /* box-shadow: 0 5px 20px rgba(0,0,0,.3); */
}

.column a b {
  font-family: "Nunito", sans-serif;
  font-size: 0.89rem;
  padding-left: 1rem;
}

.icon-bg {
  background-color: #c4c4c4;
  border-radius: 8px;
  width: 48px;
  height: 48px;
}

/* Second Section Styling */
.discover-top-activities {
  grid-column: 1 / 13;
  grid-row: 9 / 14;
}

.activities-container {
  display: flex;
  justify-content: space-between;
}

.section-title {
  text-align: left !important;
  padding: 0;
  margin: 0;
}

/* add hover effect bob up on the whole card */

.box {
  position: relative;
  /* margin: 1rem; */
  width: 300px;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

/* .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #000;
}  */

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #743100;
  z-index: 4;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
}

.details h3 {
  margin: 10px 0 0;
  color: #fafafa;
  text-align: center;
  padding: 0;
}

.details h3 span {
  color: #fafafa;
  font-size: 16px;
}


